@use "../SASS/Variables" as *;
@use "../SASS/Mixins" as *;
@use "../SASS/GlobalRules" as *;

.App {
  transition: $transition;
  &.light {
    background-color: $Light-Mode-Background;
    header {
      background-color: #fff;
      color: $light-mode-text;
    }
    .home-page {
      .filters {
        .search-input {
          .search-holder {
            background-color: #fff;
            .search-icon,
            .search-field {
              color: $light-mode-text;
            }
          }
        }
        .drop-list {
          .list-head,
          .dropDown-list {
            background-color: #fff;
          }
          .list-head,
          .arrow-down {
            color: $light-mode-text;
          }
        }
      }
      .generate-Countries {
        .country {
          .country-data {
            background-color: #fff;
            color: $light-mode-text;
          }
        }
      }
    }
    .details-page {
      .country-details-section {
        .back-button {
          background-color: #fff;
          color: $light-mode-text;
        }
      }
      .country-information {
        .details-country-name,
        .data-word,
        .data {
          color: $light-mode-text;
        }
        .borders {
          .data {
            background-color: #fff;
          }
        }
      }
    }
  }
  &.dark {
    background-color: $very-Dark-Blue-BG;

    header {
      background-color: $Dark-Mode-Background;
      color: $Dark-Light-Mode-Elements-text;
    }
    .home-page {
      .filters {
        .search-input {
          .search-holder {
            background-color: $Dark-Mode-Background;
            .search-icon,
            .search-field,
            .search-field::placeholder {
              color: $Dark-Light-Mode-Elements-text;
            }
          }
        }
        .drop-list {
          .list-head,
          .dropDown-list {
            background-color: $Dark-Mode-Background;
          }
          .list-head,
          .arrow-down,
          .dropDown-list .drop-item {
            color: $Dark-Light-Mode-Elements-text;
          }
        }
      }
      .generate-Countries {
        .country {
          .country-data {
            background-color: $Dark-Mode-Background;
            color: $Dark-Light-Mode-Elements-text;
          }
        }
      }
    }
    .details-page {
      .country-details-section {
        .back-button {
          background-color: $Dark-Mode-Background;
          color: $Dark-Light-Mode-Elements-text;
        }
      }
      .country-information {
        .details-country-name,
        .data-word,
        .data {
          color: $Dark-Light-Mode-Elements-text;
        }
        .borders {
          .data {
            background-color: $Dark-Mode-Background;
          }
        }
      }
    }
  }
}
